<% layout('layouts/boilerplate') %> <!-- Use the boilerplate layout for this view -->

<div class="row">
    <div class="col-6 offset-3"> <!-- Center the error message on the page -->
        <div class="alert alert-danger" role="alert"> <!-- Bootstrap alert with a danger style -->
            <h4 class="alert-heading"><%= err.message %></h4> <!-- Display the error message -->
            <% if (process.env.NODE_ENV !== "production") { %>
            <p><%= err.stack %></p>
            <% } %>
        </div>
    </div>
</div>